@import '../../../../assets/_main'

.container
    margin: 0 auto
    width: 70vw
    border: 1px solid $gray-border-color
    border-radius: 15px
    overflow: hidden

.task
    display: flex

app-task-description.task-description
    width: 75%

app-tasks-list.task-list
    width: 25%