@import '../../../../assets/_main'

.divider
    border-bottom: 1px solid $gray-border-color
    height: 14.1vh
    margin:
        bottom: 1.6vh
        left: 0
        right: 0
    max-height: 14.1vh
    min-height: 14.1vh

.navbar
    height: 74vh
    padding:
        top: 0
        left: 0
        right: 0
    justify-content: center

    input.search
        width: 95%

    > ul.navbar-nav
        height: 70%
        max-height: 100%
        overflow:
            x: hidden
            y: auto
        text-align: center
        width: 100%

        li.nav-item
            border-bottom: 1px solid #8080804d
            display: flex
            justify-content: space-between
            line-height: 5vh
            padding:
                left: 4vw
                right: 4vw

            @include breakpoint(md)
                padding:
                    left: 1vw
                    right: 1vw
            
            @include breakpoint(lg)
                padding:
                    left: 1vw
                    right: 1vw

            @include breakpoint(xl)
                padding:
                    left: 1vw
                    right: 1vw

            &:first-child
                border-top: 1px solid #8080804d
    
    button.create    
        width: 95%