<div class="divider"></div>
<nav class="navbar">
    <input type="search" class="form-control search" id="search" placeholder="Search a task ...">
    <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let task of tasks;let _index = index; trackBy: trackByFunction" >
            <a class="nav-link" href="#">{{task.name}}</a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" (click)="deleteTask(_index)">&times;</span>
            </button>
        </li>
    </ul>
    <button type="button" class="btn btn-outline-primary create" (click)="addTask()">Create</button>
</nav>