@import '../../../../assets/main'

.form-container
    align-items: center
    display: flex
    height: 100vh
    justify-content: center

.form-container form
    border: 1px solid rgba(0, 0, 0, 0.23)
    border-radius: 15px
    padding: 3vw
    text-align: center
    width: 30%

h2.text-uppercase
    margin-bottom: 2vw

.form-group
    margin-bottom: 2.5vw
    text-align: left

.sign-up.error-message
    cursor: pointer
    color: blue

.alert
    line-height: 1vw

button
    &:hover  
        background: lighten(#007bff, 10%)
        border-color: lighten(#007bff, 10%)

.button .btn.btn-primary
    width: 100%