@import '../../../../assets/_main'

.divider
    border-bottom: 1px solid $gray-border-color
    margin-bottom: 1vw
    height: 0.4vh
    max-height: 0.4vh
    max-width: 108%
    margin-left: -2vw
    min-height: 0.4vh
    min-width: 108%
    width: 108%
    