<div class="form-container">
    <form>
        <h2 class="text-uppercase">Login</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <small (click)="signUp()" class="form-text sign-up">No account? Sign up for free</small>
        </div>
        <div class="button">
            <button class="btn btn-primary text-uppercase login">login</button>
        </div>
    </form>
</div>