<div class="container-fluid">
  <div class="card row align-items-center">
    <div class="card-body col-10 col-sm-10 col-md-10 col-lg-10 col-lg-10">
      <h5 class="card-title">Login</h5>
      <form>
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control" id="username" #username placeholder="Username">
        </div>
        <div class="form-group">
          <label for="Surname">Surname</label>
          <input type="text" class="form-control" id="surname" #surname placeholder="Surname">
        </div>
        <div class="form-group">
          <button (click)="cancel()" class="btn btn-primary cancel">Cancel</button>
          <button (click)="login(username.value)" class="btn btn-primary login">Login</button>
          <button (click)="showUsers()" class="btn btn-primary login">Show</button>
        </div>
      </form>
      <a href="#" class="card-link">Forgot password?</a>
      <a href="#" class="card-link">Sign Up</a>
    </div>
  </div>

  <div class="card row" *ngIf="users">
    <div class="card-header">
      Users created ({{users.length}})
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="users">
             <ul class="list-group list-group-flush"  *ngFor="let user of users">
                <button 
                  (click)="update(user._id,user.username)" 
                  class="btn btn-primary update col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3">
                  Update
                </button>
                <input type="text" class="form-control input col-5 col-sm-5 col-md-5 col-lg-5 col-lg-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{user.username}}">
                <button 
                  (click)="delete(user._id,user.username)" 
                  class="btn btn-primary delete col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3">
                  Delete
                </button>
              </ul>
          </div>
        </div>
      </form>      
    </div>
    
  </div>
</div>