<div class="form-container">
    <form>
        <h2 class="text-uppercase">sign up</h2>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
        </div>
        <div class="button">
            <button (click)="registerUser()" class="btn btn-primary text-uppercase accept" id="accept">accept</button>
            <button (click)="login()" class="btn btn-primary text-uppercase cancel" id="cancel">cancel</button>
        </div>
    </form>
</div>